rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{task} {
    allow read
      allow create, write: if request.auth.uid != null;
    }
  }
}